misc/
module1/.ipynb_checkpoints/
module2/.ipynb_checkpoints/
module3/.ipynb_checkpoints/
module4/.ipynb_checkpoints/
module5/.ipynb_checkpoints/
module6/.ipynb_checkpoints/
module7/.ipynb_checkpoints/
module8/.ipynb_checkpoints/
*[kcolvin]*

